﻿
@{
    ViewData["Title"] = "Poker";
}

<h1>Poker</h1>
<div class="game" id="game">
    <div class="col-md-3" id="playermano">
        <h2>jugador 1</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.playermano[i]</p>
        }

        <h2>Jugador 2</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.cpumano[i]</p>
        }

    </div>

    <div>
        <h1 id="result">
            Ganador:
            @{
                if (Model.resultado == 0)
                {
                    <h3>jugador 2</h3>
                }
                else if (Model.resultado == 1)
                {
                    <h3>jugador 1</h3>
                }
            }
        </h1>

    </div>


</div>